<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ settings.text_direction }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <meta name="google-site-verification" content="lqHAHJ_B_38MZVkZzXtBS0_XDkoWfLpO7I2kcPtUVeU" />
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com">
    <link rel="dns-prefetch" href="https://ajax.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    {%- if settings.favicon != blank -%}
     <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
    {%- endif -%}

    {%- render 'seo-title' -%}
    {%- render 'micro' -%}

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
    {%- render 'social-meta-tags' -%}
    {%- render 'font-face' -%}
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {{ 'custom.min.css' | asset_url | stylesheet_tag }}
    {%- render 'css-variables' -%}
    
    {% comment %}
    <!-- Codfirm Starts -->   
    <script>    
      (function () {
        if (!window.Shopify.checkout) return;
        document.body.style.opacity = 0;
        const scr = document.createElement("script");
        const head = document.head || document.getElementsByTagName("head")[0];
        scr.src = "https://app.codfirm.in/assets/embed.js";
        scr.async = false;
        head.insertBefore(scr, head.firstChild);
      })();  
    </script>    
    <!-- Codfirm Ends --> 
    {% endcomment %}
    
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start': new Date().getTime(),
          event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-T4BBQJT');
    </script>
    <!-- End Google Tag Manager --> 
    <!-- Google site tag _  Global site tag (gtag.js) - Google Ads: 10786375572 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10786375572"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-10786375572');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
      ! function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
      }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '340065174208442');
      fbq('track', 'PageView');
    </script>
    <noscript>
      <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=340065174208442&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <script>
      window.onedirectSettings = {
        apiKey: 'ODU2M18xNjQwMjY1NDg2MTUyXzQ=',
        widgetHash: 'undefined',
      }
    </script>

    <script>
      window.od = {}; var mc = function() { mc.c(arguments);}
      mc.q = []; mc.c=function(args) { mc.q.push(args)};
      window.od.messenger = mc;
    </script>

    <script>
      fetch('https://msg.onedirect.in/kong/mgateway/public/v1/sdk-version?brandHash=ODU2M18xNjQwMjY1NDg2MTUyXzQ=&channelId=1')
      .then((r) => r.json())
      .then((r) => {
        !function (e, s, n, t, a) { el = s.createElement(n), p = s.getElementsByTagName(n)[0], el.async = 1, el.id = "onedirect-messaging-sdk", el.src = `https://s3-ap-southeast-1.amazonaws.com/onedirect/messaging/web-sdk/production/${r.version}/od-messaging.init.v1.0.min.js`, p.parentNode.insertBefore(el, p) }(window, document, "script");
      }).catch((error) => {
        console.log(error)
      })
    </script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

      window.theme = window.theme || {};
      theme.routes = {
        home: "{{ routes.root_url }}",
        cart: "{{ routes.cart_url | append: '.js' }}",
        cartPage: "{{ routes.cart_url }}",
        cartAdd: "{{ routes.cart_add_url | append: '.js' }}",
        cartChange: "{{ routes.cart_change_url | append: '.js' }}"
      };
      theme.strings = {
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        inStockLabel: {{ 'products.product.in_stock_label' | t | json }},
        stockLabel: {{ 'products.product.stock_label' | t: count: '[count]' | json }},
        willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
        willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
        waitingForStock: {{ 'products.product.waiting_for_stock' | t | json }},
        savePrice: {{ 'products.general.save_html' | t: saved_amount: '[saved_amount]' | json }},
        cartEmpty: {{ 'cart.general.empty' | t | json }},
        cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }},
        searchCollections: {{ 'general.search.collections' | t | json }},
        searchPages: {{ 'general.search.pages' | t | json }},
        searchArticles: {{ 'general.search.articles' | t | json }}
      };
      theme.settings = {
        dynamicVariantsEnable: true,
        cartType: {{ settings.cart_type | json }},
        isCustomerTemplate: {% if request.page_type contains 'customers/' %}true{% else %}false{% endif %},
        moneyFormat: {{ shop.money_format | json }},
        saveType: {{ settings.product_save_type | json }},
        productImageSize: {{ settings.product_grid_image_size | json }},
        productImageCover: {{ settings.product_grid_image_fill }},
        predictiveSearch: {{ settings.predictive_search_enabled }},
        predictiveSearchType: {{ settings.search_type | json }},
        quickView: {{ settings.quick_shop_enable }},
        themeName: 'Impulse',
        themeVersion: "5.0.0"
      };
    </script>
    {{ content_for_header }}
    <script src="{{ 'vendor-scripts-v10.aio.min.js' | asset_url | split: '?' | first }}" defer="defer"></script>
  	<script defer="defer" type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    {%- if shop.enabled_currencies.size > 1 -%}
    <link rel="preload" as="style" href="{{ 'currency-flags.css' | asset_url | split: '?' | first }}" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="{{ 'currency-flags.css' | asset_url | split: '?' | first }}">
    {%- endif -%}
    
    <script src="{{ 'mytheme.min.js' | asset_url }}" defer="defer"></script>
    <script defer type="text/javascript" src="{{ 'custom.js' | asset_url }}"></script>

    {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}
    {% render 'judgeme_core' %}
    {% render 'wishlisthero-styles.liquid' %}
    
    <meta name="google-site-verification" content="Stv1yOncYERBMeoCP4r16L5iGRTf7HbLlTgdM-HDw10" />
  </head>
  <body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if request.path == '/challenge' %} template-challange{% endif %} {% if template contains "collection" %}{{ collection.title | replace:' '}}{% endif %} {% if request.path == '/pages/contact' %}contact__us{% endif %}" data-center-text="{{ settings.type_body_align_text }}" data-button_style="{{ settings.button_style }}" data-type_header_capitalize="{{ settings.type_header_capitalize }}" data-type_headers_align_text="{{ settings.type_headers_align_text }}" data-type_product_capitalize="{{ settings.type_product_capitalize }}" data-swatch_style="{{ settings.swatch_style }}" {% if settings.disable_animations %}data-disable-animations="true"{% endif %}>
    <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
    <div id="PageContainer" class="page-container">
      <div class="transition-body">
        {%- section 'header' -%}
        <main class="main-content" id="MainContent">
          {{ content_for_layout }}
        </main>
        {%- section 'footer-promotions' -%}
        {%- section 'footer' -%}
      </div>
    </div>

    {%- liquid
      section 'newsletter-popup'
      render 'video-modal'
      render 'photoswipe-template'
      if template contains 'product'
       render 'restock-alerts'
      endif 
      render 'accept-cookie'
      render 'lock-inspect'
    -%}

    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T4BBQJT" height="0" width="0" style="display:none;visibility:hidden">
      </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
</body>
  <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-0aaf082f-0067-4491-b3fa-f34ddf8f744b"></div>
</html>
