<style>
   #pricing .section_heading span {
    font-size: 22px;
        padding: 4px 12px;
   
  }


  @media(min-width:1200px){
  #pricing .section_heading span{
    font-size: 36px;
    
      } 

  
  }
</style>

<style>
  #pricing .section_heading span {
    font-size: 22px;
    padding: 4px 12px;
  }

  @media (min-width: 1200px) {
    #pricing .section_heading span {
      font-size: 36px;
    }
  }
</style> 

<section
  id="pricing"
  class="sw-bg-[#1e1e1e] sw-text-white sw-py-10 xl:sw-py-16"
  style="background-color: {{ section.settings.section_bg }}; color: {{ section.settings.section_text_color }};"
>
  <div class="sw-max-w-[1110px] sw-mx-auto sw-px-4 lg:sw-px-0">

    {%- comment -%} SECTION HEADING {%- endcomment -%}
    <div class="sw-text-center sw-mb-7 xl:sw-mb-[76px]">
      {% if section.settings.section_title != blank %}
        <h3
          class="section_heading sw-text-center sw-pb-2 sw-text-[22px] sw-text-[#01C5E3] sw-font-semibold xl:sw-text-[48px]"
          style="color: {{ section.settings.section_title_color }};"
        >
          {{ section.settings.section_title }}
        </h3>
      {% endif %}
    </div>

    {%- comment -%} PRICING CARDS GRID {%- endcomment -%}
    <div class="sw-grid sw-grid-cols-1 xl:sw-grid-cols-3 sw-gap-11 xl:sw-gap-10 sw-mb-[18px] xl:sw-mb-10">

      {%- comment -%} CARD 1 {%- endcomment -%}
      {% if section.settings.enable_card1 %}
      <div
        class="sw-relative sw-rounded-[16px] sw-border-2 sw-bg-[#1e1e1e] sw-px-2 sw-pt-[25px] sw-pb-2 sw-flex sw-flex-col sw-gap-4 sw-shadow-[0_18px_40px_rgba(0,0,0,0.75)]"
        style="border-color: {{ section.settings.card1_border_color | default: '#383838' }};">
        {% if section.settings.card1_label != blank %}
          <div class="sw-absolute sw--top-[13px] sw-left-1/2 sw--translate-x-1/2">
            <div
              class="sw-inline-flex sw-items-center sw-justify-center sw-rounded-full sw-px-4 sw-py-1 sw-text-[12px] sw-font-bold sw-text-[#031015]"
              style="background: {{ section.settings.card1_accent }};"
            >
              {{ section.settings.card1_label }}
            </div>
          </div>
        {% endif %}

        <div class="sw-px-4 sw-pb-9 xl:sw-pb-6">
          <div class="sw-flex sw-gap-2 sw-items-center sw-mb-2">
            {% if section.settings.card1_icon != blank %}
              <div class="sw-w-10 sw-h-10 sw-mb-3">
                <img
                  src="{{ section.settings.card1_icon | img_url: '120x' }}"
                  alt="Plan icon 1"
                  class="sw-w-10 sw-h-10 sw-object-contain"
                >
              </div>
            {% endif %}
            <h3 class="sw-text-[20px] xl:sw-text-[24px] sw-font-semibold">
              {{ section.settings.card1_title }}
            </h3>
          </div>

          <div>
            <div class="sw-flex sw-items-baseline sw-gap-1">
              <span class="sw-text-[24px] xl:sw-text-[32px] sw-font-bold sw-font-heading">
                {{ section.settings.card1_price }}
              </span>
              {% if section.settings.card1_suffix != blank %}
                <span class="sw-text-[16px] sw-text-[#ffffff]">
                  {{ section.settings.card1_suffix }}
                </span>
              {% endif %}
            </div>
            {% if section.settings.card1_trial != blank %}
              <p
                class="sw-text-[14px] sw-font-bold sw-mt-2"
                style="color: {{ section.settings.card1_accent }};"
              >
                {{ section.settings.card1_trial }}
              </p>
            {% endif %}
          </div>
        </div>

        <div class="sw-relative">
          {% if section.settings.card1_refund != blank %}
            <div class="sw-absolute sw--top-[13px] sw-left-1/2 sw--translate-x-1/2 sw-z-[2] sw-w-[90%]">
              <div
                class="sw-flex sw-items-center sw-justify-center sw-rounded-full sw-px-5 sw-py-1 sw-text-[14px] sw-font-semibold sw-text-[#031015] xl:sw-px-3"
                style="background: {{ section.settings.card1_accent }};"
              >
                {{ section.settings.card1_refund }}
              </div>
            </div>
          {% endif %}

          <div
            class="sw-rounded-[18px] sw-border sw-pt-7 sw-px-4 sw-pb-4 sw-space-y-2 sw-text-[13px]"
            style="
              border-color: {{ section.settings.card1_accent }};
              background: {{ section.settings.card1_inner_bg }};
              {% if section.settings.card1_inner_bg_img != blank %}
                background-image: url('{{ section.settings.card1_inner_bg_img | img_url: '600x' }}');
                background-size: cover;
                background-repeat: no-repeat;
              {% endif %}
            "
          >
            {% for idx in (1..6) %}
              {% assign f_key = 'card1_feature' | append: idx %}
              {% if section.settings[f_key] != blank %}
                <div class="sw-flex sw-items-center sw-gap-2">
                  <span class="sw-mt-[3px]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="10" viewBox="0 0 13 10" fill="none">
                      <path d="M4.54601 10L0 5.25988L1.1365 4.07484L4.54601 7.62994L11.8635 0L13 1.18503L4.54601 10Z" fill="white"/>
                    </svg>
                  </span>
                  <span class="sw-text-[14px]">{{ section.settings[f_key] }}</span>
                </div>
              {% endif %}
            {% endfor %}

            {% if section.settings.card1_btn_label != blank %}
              <div class="sw-pt-6">
                <a
                  href="{{ section.settings.card1_btn_link | default: '#' }}"
                  class="sw-inline-flex sw-w-full sw-items-center sw-justify-center sw-rounded-[16px] sw-text-[#031015] sw-text-[16px] sw-font-bold sw-py-2 sw-px-3 sw-gap-2 hover:sw-brightness-110 sw-transition sw-duration-150"
                  style="background: {{ section.settings.card1_btn_bg }};"
                >
                  {{ section.settings.card1_btn_label }}
                  <span>➜</span>
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}

      {%- comment -%} CARD 2 {%- endcomment -%}
      {% if section.settings.enable_card2 %}
      <div
        class="sw-relative sw-rounded-[16px] sw-border-2 sw-bg-[#1e1e1e] sw-px-2 sw-pt-[25px] sw-pb-2 sw-flex sw-flex-col sw-gap-4 sw-shadow-[0_18px_40px_rgba(0,0,0,0.75)]"
        style="border-color: {{ section.settings.card2_border_color | default: '#383838' }};">
        {% if section.settings.card2_label != blank %}
          <div class="sw-absolute sw--top-[13px] sw-left-1/2 sw--translate-x-1/2">
            <div
              class="sw-inline-flex sw-items-center sw-justify-center sw-rounded-full sw-px-4 sw-py-1 sw-text-[12px] sw-font-bold sw-text-[#031015]"
              style="background: {{ section.settings.card2_accent }};"
            >
              {{ section.settings.card2_label }}
            </div>
            <span class="sw-absolute sw--top-5 sw-left-1/2 sw--translate-x-1/2">
              <!-- small badge icon above label -->
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.8 19.1999H4.2C3.87 19.1999 3.6 19.4699 3.6 19.7999V20.9999C3.6 21.3299 3.87 21.5999 4.2 21.5999H19.8C20.13 21.5999 20.4 21.3299 20.4 20.9999V19.7999C20.4 19.4699 20.13 19.1999 19.8 19.1999ZM22.2 7.1999C21.2063 7.1999 20.4 8.00615 20.4 8.9999C20.4 9.26615 20.46 9.51365 20.565 9.7424L17.85 11.3699C17.2725 11.7149 16.5263 11.5199 16.1925 10.9349L13.1363 5.5874C13.5375 5.2574 13.8 4.7624 13.8 4.1999C13.8 3.20615 12.9938 2.3999 12 2.3999C11.0063 2.3999 10.2 3.20615 10.2 4.1999C10.2 4.7624 10.4625 5.2574 10.8638 5.5874L7.8075 10.9349C7.47375 11.5199 6.72375 11.7149 6.15 11.3699L3.43875 9.7424C3.54 9.5174 3.60375 9.26615 3.60375 8.9999C3.60375 8.00615 2.7975 7.1999 1.80375 7.1999C0.81 7.1999 0 8.00615 0 8.9999C0 9.99365 0.80625 10.7999 1.8 10.7999C1.8975 10.7999 1.995 10.7849 2.08875 10.7699L4.8 17.9999H19.2L21.9113 10.7699C22.005 10.7849 22.1025 10.7999 22.2 10.7999C23.1938 10.7999 24 9.99365 24 8.9999C24 8.00615 23.1938 7.1999 22.2 7.1999Z" fill="#EBB658"/>
              </svg>
            </span>
          </div>
        {% endif %}

        <div class="sw-px-4 sw-pb-9 xl:sw-pb-6">
          <div class="sw-flex sw-gap-2 sw-items-center sw-mb-2">
            {% if section.settings.card2_icon != blank %}
              <div class="sw-w-10 sw-h-10 sw-mb-3">
                <img
                  src="{{ section.settings.card2_icon | img_url: '120x' }}"
                  alt="Plan icon 2"
                  class="sw-w-10 sw-h-10 sw-object-contain"
                >
              </div>
            {% endif %}
            <h3 class="sw-text-[20px] xl:sw-text-[24px] sw-font-semibold">
              {{ section.settings.card2_title }}
            </h3>
          </div>

          <div>
            <div class="sw-flex sw-items-baseline sw-gap-1">
              <span class="sw-text-[24px] xl:sw-text-[32px] sw-font-bold sw-font-heading">
                {{ section.settings.card2_price }}
              </span>
              {% if section.settings.card2_suffix != blank %}
                <span class="sw-text-[16px] sw-text-[#ffffff]">
                  {{ section.settings.card2_suffix }}
                </span>
              {% endif %}
            </div>
            {% if section.settings.card2_trial != blank %}
              <p
                class="sw-text-[14px] sw-font-bold sw-mt-2"
                style="color: {{ section.settings.card2_accent }};"
              >
                {{ section.settings.card2_trial }}
              </p>
            {% endif %}
          </div>
        </div>

        <div class="sw-relative">
          {% if section.settings.card2_refund != blank %}
            <div class="sw-absolute sw--top-[13px] sw-left-1/2 sw--translate-x-1/2 sw-z-[2] sw-w-[90%]">
              <div
                class="sw-flex sw-items-center sw-justify-center sw-rounded-full sw-px-5 sw-py-1 sw-text-[14px] sw-font-semibold sw-text-[#031015] xl:sw-px-3"
                style="background: {{ section.settings.card2_accent }};"
              >
                {{ section.settings.card2_refund }}
              </div>
            </div>
          {% endif %}

          <div
            class="sw-rounded-[18px] sw-border sw-pt-7 sw-px-4 sw-pb-4 sw-space-y-2 sw-text-[13px]"
            style="
              border-color: {{ section.settings.card2_accent }};
              background: {{ section.settings.card2_inner_bg }};
              {% if section.settings.card2_inner_bg_img != blank %}
                background-image: url('{{ section.settings.card2_inner_bg_img | img_url: '600x' }}');
                background-size: cover;
                background-repeat: no-repeat;
              {% endif %}
            "
          >
            {% for idx in (1..6) %}
              {% assign f_key = 'card2_feature' | append: idx %}
              {% if section.settings[f_key] != blank %}
                <div class="sw-flex sw-items-center sw-gap-2">
                  <span class="sw-mt-[3px]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="10" viewBox="0 0 13 10" fill="none">
                      <path d="M4.54601 10L0 5.25988L1.1365 4.07484L4.54601 7.62994L11.8635 0L13 1.18503L4.54601 10Z" fill="white"/>
                    </svg>
                  </span>
                  <span class="sw-text-[14px]">{{ section.settings[f_key] }}</span>
                </div>
              {% endif %}
            {% endfor %}

            {% if section.settings.card2_btn_label != blank %}
              <div class="sw-pt-6">
                <a
                  href="{{ section.settings.card2_btn_link | default: '#' }}"
                  class="sw-inline-flex sw-w-full sw-items-center sw-justify-center sw-rounded-[16px] sw-text-[#031015] sw-text-[16px] sw-font-bold sw-py-2 sw-px-3 sw-gap-2 hover:sw-brightness-110 sw-transition sw-duration-150"
                  style="background: {{ section.settings.card2_btn_bg }};"
                >
                  {{ section.settings.card2_btn_label }}
                  <span>➜</span>
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}

      {%- comment -%} CARD 3 {%- endcomment -%}
      {% if section.settings.enable_card3 %}
      <div
        class="sw-relative sw-rounded-[16px] sw-border-2 sw-bg-[#1e1e1e] sw-px-2 sw-pt-[25px] sw-pb-2 sw-flex sw-flex-col sw-gap-4 sw-shadow-[0_18px_40px_rgba(0,0,0,0.75)]"
        style="border-color: {{ section.settings.card3_border_color | default: '#383838' }};">
        {% if section.settings.card3_label != blank %}
          <div class="sw-absolute sw--top-[13px] sw-left-1/2 sw--translate-x-1/2">
            <div
              class="sw-inline-flex sw-items-center sw-justify-center sw-rounded-full sw-px-4 sw-py-1 sw-text-[12px] sw-font-bold sw-text-[#031015]"
              style="background: {{ section.settings.card3_accent }};"
            >
              {{ section.settings.card3_label }}
            </div>
          </div>
        {% endif %}

        <div class="sw-px-4 sw-pb-9 xl:sw-pb-6">
          <div class="sw-flex sw-gap-2 sw-items-center sw-mb-2">
            {% if section.settings.card3_icon != blank %}
              <div class="sw-w-10 sw-h-10 sw-mb-3">
                <img
                  src="{{ section.settings.card3_icon | img_url: '120x' }}"
                  alt="Plan icon 3"
                  class="sw-w-10 sw-h-10 sw-object-contain"
                >
              </div>
            {% endif %}

            <h3 class="sw-text-[20px] xl:sw-text-[24px] sw-font-semibold">
              {{ section.settings.card3_title }}
            </h3>
          </div>

          <div>
            <div class="sw-flex sw-items-baseline sw-gap-1">
              <span class="sw-text-[24px] xl:sw-text-[32px] sw-font-bold sw-font-heading">
                {{ section.settings.card3_price }}
              </span>
              {% if section.settings.card3_suffix != blank %}
                <span class="sw-text-[16px] sw-text-[#ffffff]">
                  {{ section.settings.card3_suffix }}
                </span>
              {% endif %}
            </div>
            {% if section.settings.card3_trial != blank %}
              <p
                class="sw-text-[14px] sw-font-bold sw-mt-2"
                style="color: {{ section.settings.card3_accent }};"
              >
                {{ section.settings.card3_trial }}
              </p>
            {% endif %}
          </div>
        </div>

        <div class="sw-relative">
          {% if section.settings.card3_refund != blank %}
            <div class="sw-absolute sw--top-[13px] sw-left-1/2 sw--translate-x-1/2 sw-z-[2] sw-w-[90%]">
              <div
                class="sw-flex sw-items-center sw-justify-center sw-rounded-full sw-px-5 sw-py-1 sw-text-[14px] sw-font-semibold sw-text-[#031015] xl:sw-px-3"
                style="background: {{ section.settings.card3_accent }};"
              >
                {{ section.settings.card3_refund }}
              </div>
            </div>
          {% endif %}

          <div
            class="sw-rounded-[18px] sw-border sw-pt-7 sw-px-4 sw-pb-4 sw-space-y-2 sw-text-[13px]"
            style="
              border-color: {{ section.settings.card3_accent }};
              background: {{ section.settings.card3_inner_bg }};
              {% if section.settings.card3_inner_bg_img != blank %}
                background-image: url('{{ section.settings.card3_inner_bg_img | img_url: '600x' }}');
                background-size: cover;
                background-repeat: no-repeat;
              {% endif %}
            "
          >
            {% for idx in (1..6) %}
              {% assign f_key = 'card3_feature' | append: idx %}
              {% if section.settings[f_key] != blank %}
                <div class="sw-flex sw-items-center sw-gap-2">
                  <span class="sw-mt-[3px]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="10" viewBox="0 0 13 10" fill="none">
                      <path d="M4.54601 10L0 5.25988L1.1365 4.07484L4.54601 7.62994L11.8635 0L13 1.18503L4.54601 10Z" fill="white"/>
                    </svg>
                  </span>
                  <span class="sw-text-[14px]">{{ section.settings[f_key] }}</span>
                </div>
              {% endif %}
            {% endfor %}

            {% if section.settings.card3_btn_label != blank %}
              <div class="sw-pt-6">
                <a
                  href="{{ section.settings.card3_btn_link | default: '#' }}"
                  class="sw-inline-flex sw-w-full sw-items-center sw-justify-center sw-rounded-[16px] sw-text-[#031015] sw-text-[16px] sw-font-bold sw-py-2 sw-px-3 sw-gap-2 hover:sw-brightness-110 sw-transition sw-duration-150"
                  style="background: {{ section.settings.card3_btn_bg }};"
                >
                  {{ section.settings.card3_btn_label }}
                  <span>➜</span>
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}

    </div>

    {%- comment -%} SAFE & SECURE CHECKOUT BOX {%- endcomment -%}
    <div class="sw-rounded-2xl sw-border-[#D9D9D9] sw-border-2 sw-bg-[#1e1e1e] sw-px-[14px] sw-py-[10px] xl:sw-px-6 xl:sw-py-6 sw-flex sw-flex-col sw-gap-4 xl:sw-gap-6 sw-items-start xl:sw-items-center">
      <div class="sw-w-full">
        <p class="sw-text-[16px] sw-leading-normal sw-font-heading sw-font-semibold sw-mb-3 xl:sw-text-[28px]">
          {{ section.settings.secure_title }}
        </p>
        {% if section.settings.secure_subtitle != blank %}
          <p class="sw-text-xs sw-items-center sw-text-[#fff] sw-flex sw-gap-2 xl:sw-text-[18px]">
            <span>{{ section.settings.secure_subtitle }}</span>
            <span class="sw-flex sw-items-center sw-gap-1">
              <!-- Razorpay icon small -->
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="25" viewBox="0 0 22 25" fill="none">
                <path d="M14.8739 8.38023C12.6547 9.79239 10.4354 11.2045 8.10775 12.6857C8.42841 11.5434 8.80651 10.5304 8.98089 9.48392C9.16448 8.38227 9.77025 7.75579 10.6853 7.18269C14.3523 4.88588 17.9739 2.51756 21.6113 0.174022C21.7042 0.114131 21.7847 0.0351967 22 0C21.9485 0.287065 21.9175 0.579523 21.8425 0.860384C20.8181 4.69511 19.7933 8.52975 18.7571 12.3613C17.6481 16.4623 16.53 20.5608 15.3984 24.6556C15.3596 24.796 15.1345 24.9811 14.9936 24.9835C13.5314 25.0075 12.0686 24.9983 10.5502 24.9983C11.1472 22.7655 11.7266 20.5754 12.319 18.3888C13.1904 15.1718 14.0714 11.9573 14.9463 8.74122C14.9608 8.68756 14.9495 8.62694 14.9857 8.51059C15.0281 8.39984 15.0352 8.34807 15.0422 8.2963C14.9861 8.32428 14.93 8.35225 14.8739 8.38023Z" fill="white"/>
                <path d="M4.15211 16.3396C7.24874 14.3608 10.3088 12.4031 13.4932 10.366C13.1633 11.6384 12.8779 12.7739 12.5738 13.9046C12.0263 15.941 11.4675 17.9744 10.9135 20.0091C10.4943 21.5489 10.0831 23.0909 9.64353 24.6248C9.60088 24.7737 9.38396 24.9789 9.24674 24.9799C6.18956 25.0002 3.13222 24.9954 0 24.9954C0.0482725 24.7398 0.0730506 24.5401 0.124371 24.3474C0.676717 22.2731 1.20361 20.1911 1.81683 18.1346C1.92319 17.7779 2.37166 17.4931 2.71166 17.2409C3.15372 16.9131 3.64531 16.6512 4.15211 16.3396Z" fill="white"/>
              </svg>
              <span>Razorpay</span>
            </span>
          </p>
        {% endif %}
      </div>

      <div class="sw-flex sw-flex-col xl:sw-flex-row sw-w-full sw-items-start xl:sw-items-center sw-justify-between sw-gap-4">
        {%- comment -%} Left: Small trust line / text if needed {%- endcomment -%}
        <div class="sw-flex sw-items-center sw-gap-2">
          <div class="sw-flex sw-items-center sw-justify-center xl:sw-hidden">
            <!-- Small Razorpay + cards illustration (mobile) -->
            <svg width="90" height="24" viewBox="0 0 90 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <!-- (shortened) – you can keep your existing 90x24 SVG here -->
            </svg>
          </div>
          <div class="sw-items-center sw-justify-center sw-hidden xl:sw-flex">
            <!-- Larger Razorpay + cards illustration (desktop) -->
            <svg xmlns="http://www.w3.org/2000/svg" width="241" height="64" viewBox="0 0 241 64" fill="none">
              <!-- (shortened) – you can keep your existing 241x64 SVG here -->
            </svg>
          </div>
        </div>

        {%- comment -%} Right: Payment method icons (mobile) {%- endcomment -%}
        <div class="sw-flex sw-flex-wrap sw-gap-3 sw-items-center xl:sw-hidden sw-w-full sw-justify-end">
          {% if section.settings.show_upi %}
            <!-- UPI small -->
            <svg width="34" height="12" viewBox="0 0 34 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <!-- your existing small UPI SVG from code -->
            </svg>
          {% endif %}
          {% if section.settings.show_visa %}
            <!-- VISA small -->
            <svg width="37" height="12" viewBox="0 0 37 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <!-- your existing VISA SVG from code -->
            </svg>
          {% endif %}
          {% if section.settings.show_mastercard %}
            <!-- Mastercard small -->
            <svg width="26" height="16" viewBox="0 0 26 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <!-- your existing Mastercard SVG from code -->
            </svg>
          {% endif %}
        </div>

        {%- comment -%} Payment method icons (desktop) {%- endcomment -%}
        <div class="sw-hidden xl:sw-flex sw-flex-wrap sw-gap-6 sw-items-center">
          {% if section.settings.show_upi %}
            <!-- reuse same UPI SVG bigger if you want -->
            <svg width="68" height="24" viewBox="0 0 34 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="sw-scale-150">
              <!-- same UPI path -->
            </svg>
          {% endif %}
          {% if section.settings.show_visa %}
            <svg width="74" height="24" viewBox="0 0 37 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="sw-scale-150">
              <!-- same VISA path -->
            </svg>
          {% endif %}
          {% if section.settings.show_mastercard %}
            <svg width="52" height="32" viewBox="0 0 26 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="sw-scale-150">
              <!-- same Mastercard path -->
            </svg>
          {% endif %}
        </div>
      </div>
    </div>

  </div>
</section>


<style>
  #pricing {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }
 

  @media (min-width: 1200px) {
    #pricing {
      padding-top: {{ section.settings.desktop_padding_top }}px;
      padding-bottom: {{ section.settings.desktop_padding_bottom }}px;
    }
     .tradeedge-wrap svg{
    width: 100%;
        height: auto;
  }
  }
</style>



{% schema %}
{
  "name": "Pricing – 3 fixed cards",
  "settings": [
    {
      "type": "color",
      "label": "section background color",
      "id": "section_bg",
      "default": "#1E1E1E"
    },
    {
      "type": "color",
      "label": "section text color",
      "id": "section_text_color",
      "default": "#ffffff" 
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "label": "Mobile padding top (px)",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "label": "Mobile padding bottom (px)",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "default": 40
    },
    {
      "type": "html",
      "label": "Section title",
      "id": "section_title",
      "default": "TradeEdge <span> Pro</span> Features"
    },
    {
      "type": "color",
      "label": "section title color",
      "id": "section_title_color",
      "default": "#000000"
    },

    { "type": "header", "content": "Secure checkout strip" },
    { "type": "text", "id": "secure_title", "label": "Title", "default": "Safe and Secure Checkout" },
    { "type": "text", "id": "secure_subtitle", "label": "Subtitle", "default": "Payments are processed by" },
    { "type": "text", "id": "payment_text", "label": "Payment text", "default": "We accept the following payment methods" },
    { "type": "checkbox", "id": "show_upi", "label": "Show UPI", "default": true },
    { "type": "checkbox", "id": "show_visa", "label": "Show VISA", "default": true },
    { "type": "checkbox", "id": "show_mastercard", "label": "Show Mastercard", "default": true },
    { "type": "checkbox", "id": "show_custom_logo", "label": "Show extra payment logo image", "default": false },
    { "type": "image_picker", "id": "custom_logo", "label": "Extra payment logo" },

    { "type": "header", "content": "Card 1 – Monthly" },
    {
  "type": "checkbox",
  "id": "enable_card1",
  "label": "Enable Card 1",
  "default": true
},
    { "type": "text", "id": "card1_label", "label": "Top label", "default": "STARTER PLAN" },
    { "type": "image_picker", "id": "card1_icon", "label": "Card 1 icon image" },
    { "type": "text", "id": "card1_title", "label": "Title", "default": "Monthly Access" },
    { "type": "text", "id": "card1_price", "label": "Price", "default": "₹ 499.00" },
    { "type": "text", "id": "card1_suffix", "label": "Price suffix", "default": "/ month" },
    { "type": "text", "id": "card1_trial", "label": "Trial line", "default": "Get 7 days free trial included" },
    { "type": "text", "id": "card1_refund", "label": "Refund pill text", "default": "No questions asked 30 days refund" },
    { "type": "text", "id": "card1_feature1", "label": "Feature 1", "default": "Get complete access of TradeEdge Pro" },
    { "type": "text", "id": "card1_feature2", "label": "Feature 2", "default": "Lorem ipsum dolor sit amet" },
    { "type": "text", "id": "card1_feature3", "label": "Feature 3", "default": "Lorem ipsum dolor sit amet" },
    { "type": "text", "id": "card1_btn_label", "label": "Button label", "default": "START 7-DAY FREE TRIAL" },
    { "type": "url", "id": "card1_btn_link", "label": "Button link" },
    { "type": "color", "id": "card1_accent", "label": "Accent color", "default": "#00D2C6" },
    { "type": "color", "id": "card1_inner_bg", "label": "Inner box background", "default": "#00D2C6" },
    { "type": "color", "id": "card1_border_color", "label": "Outer border color", "default": "#00D2C6" },
    { "type": "color", "id": "card1_btn_bg", "label": "Button background", "default": "#00F0CF" },
    { "type": "image_picker", "id": "card1_inner_bg_img", "label": "Card 1 Bg image" },

    { "type": "header", "content": "Card 2 – Quarterly (middle)" },
    {
  "type": "checkbox",
  "id": "enable_card2",
  "label": "Enable Card 2",
  "default": true
},
    { "type": "text", "id": "card2_label", "label": "Top label", "default": "MOST POPULAR" },
    { "type": "image_picker", "id": "card2_icon", "label": "Card 2 icon image" },
    { "type": "text", "id": "card2_title", "label": "Title", "default": "Quarterly Access" },
    { "type": "text", "id": "card2_price", "label": "Price", "default": "₹ 1,099.00" },
    { "type": "text", "id": "card2_suffix", "label": "Price suffix", "default": "/ 90 days" },
    { "type": "text", "id": "card2_trial", "label": "Trial line", "default": "Get 30 days free trial included" },
    { "type": "text", "id": "card2_refund", "label": "Refund pill text", "default": "No questions asked 30 days refund" },
    { "type": "text", "id": "card2_feature1", "label": "Feature 1", "default": "Get complete access of TradeEdge Pro" },
    { "type": "text", "id": "card2_feature2", "label": "Feature 2", "default": "Lorem ipsum dolor sit amet" },
    { "type": "text", "id": "card2_feature3", "label": "Feature 3", "default": "Lorem ipsum dolor sit amet" },
    { "type": "text", "id": "card2_btn_label", "label": "Button label", "default": "START 30-DAY FREE TRIAL" },
    { "type": "url", "id": "card2_btn_link", "label": "Button link" },
    { "type": "color", "id": "card2_accent", "label": "Accent color", "default": "#00C4FF" },
    { "type": "color", "id": "card2_inner_bg", "label": "Inner box background", "default": "#00C4FF" },
    { "type": "color", "id": "card2_border_color", "label": "Outer border color", "default": "#00C4FF" },
    { "type": "color", "id": "card2_btn_bg", "label": "Button background", "default": "#00E5FF" },
    { "type": "image_picker", "id": "card2_inner_bg_img", "label": "Card 2 Bg image" },

    { "type": "header", "content": "Card 3 – Lifetime" },
    {
  "type": "checkbox",
  "id": "enable_card3",
  "label": "Enable Card 3",
  "default": true
},
    { "type": "text", "id": "card3_label", "label": "Top label", "default": "BEST VALUE" },
    { "type": "image_picker", "id": "card3_icon", "label": "Card 3 icon image" },
    { "type": "text", "id": "card3_title", "label": "Title", "default": "Lifetime Access" },
    { "type": "text", "id": "card3_price", "label": "Price", "default": "₹ 4,999.00" },
    { "type": "text", "id": "card3_suffix", "label": "Price suffix", "default": "One-Time" },
    { "type": "text", "id": "card3_trial", "label": "Trial / sub text", "default": "Unlimited access for life" },
    { "type": "text", "id": "card3_refund", "label": "Refund pill text", "default": "No questions asked 30 days refund" },
    { "type": "text", "id": "card3_feature1", "label": "Feature 1", "default": "Get complete access of TradeEdge Pro" },
    { "type": "text", "id": "card3_feature2", "label": "Feature 2", "default": "Lorem ipsum dolor sit amet" },
    { "type": "text", "id": "card3_feature3", "label": "Feature 3", "default": "Lorem ipsum dolor sit amet" },
    { "type": "text", "id": "card3_btn_label", "label": "Button label", "default": "GET LIFETIME ACCESS" },
    { "type": "url", "id": "card3_btn_link", "label": "Button link" },
    { "type": "color", "id": "card3_accent", "label": "Accent color", "default": "#A855F7" },
    { "type": "color", "id": "card3_inner_bg", "label": "Inner box background", "default": "#A855F7" },
    { "type": "color", "id": "card3_border_color", "label": "Outer border color", "default": "#A855F7" },
    { "type": "color", "id": "card3_btn_bg", "label": "Button background", "default": "#C084FC" },
    { "type": "image_picker", "id": "card3_inner_bg_img", "label": "Card 3 Bg image" }
  ],
  "presets": [
    {
      "name": "Pricing – 3 fixed cards"
    }
  ]
}
{% endschema %}
